# macOS
.DS_Store

# Xcode build artifacts
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode user-specific files
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Keep shared schemes, ignore personal schemes
!*.xcodeproj/xcshareddata/
!*.xcworkspace/xcshareddata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
Packages/
.swiftpm/

# Optional dependency managers
Carthage/Build/
Pods/

# Fastlane output
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
